
.write-text-container{
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 0;
    width:100%;
    margin:0px;
    padding:0px;
    z-index: 9999;
    
    .write-text{
        border-radius: 5px;
        width:75%;
        margin: 0px auto;
        text-align: center;
        padding: 0.5rem;
        font-size: 45px;
        background-color: #000;
        color: #fff;
        min-height: 64px;
        max-width: unset;
    }

    .write-text::selection {
			color:#F48982;
      background-color:#007791;
		}
}

.temporarily-hide{
  opacity: 0;
  z-index: -1;
}